@import "~react-pro-sidebar/dist/css/styles.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backgroundOne{
  padding-top: 20%;
  background-color: darkgrey;
  display: block;
  min-height: 100vh;
  font-family: Arial;
  color: rgba(248,248,248,0.87);
}

.panelBackground {
  background-color: darkgrey;
  /*xpadding-top: 3%;*/
  color: rgba(248,248,248,0.87);
  min-height: 100vh;
  text-align: left;
  /*position: relative;*/
  /*z-index: 1;*/
}

.panelTextFields {
  margin-left: 2%;
  margin-right: 2%;
}

.inputOne {
  max-width: 20%;
}

.buttonOne{
  alignment: left;
  margin: auto;
  display: block;
  /*max-width: fit-content;*/
  font-size: 26px;
  border-radius: 10px;
  white-space: nowrap;
  font-weight: bold;
  top: -1px;
  box-shadow: none;
}

.myContainer {
  margin: 0;
  padding: 0;
  background-color: darkgrey;
  min-height: 100vh;
}

.detailsBackground {
  background-color: darkgrey;
  min-height: 100vh;
  padding-top: 2%;
  padding-left: 2%;
  color: rgba(248,248,248,0.87);
  font-family: Arial, serif;
}

.myCol {
  position: relative;
  z-index: 1;
}

.alertBackground{
  background-color: black;
  border-style: solid;
  border-radius: 20px;
  text-align: center;
  padding: 3%;
  margin-top: 20%;
  margin-left: 20%;
  margin-right: 20%;
}

.alertLabel{
  background-color: black;
  font-size: 30px;
}